<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.ycbjie.ycstatusbar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.ycbjie.ycstatusbar.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarColorActivity" />
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarColorToolBarActivity" />
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarTranslucent"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarColorCoordinatorActivity" />
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarTranslucentCoordinatorActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarWhiteActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarWhiteToolBarActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarWhiteCoordinatorActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarWhiteCoordinatorActivity2"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarWhiteCoordinatorActivity3"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarFragmentActivity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarFragment2Activity"/>
        <activity android:name="com.ycbjie.ycstatusbar.StatusBarFragment3Activity"/>
    </application>

</manifest>